a[href*="about"] {
    text-decoration-line: underline;
}

.footer div {
    opacity: 0;
}

.footer .logo {
    opacity: 1;
}

.main-content ul {
    list-style-type: none;
    padding: 0px;
    padding-top: 8px;
    display: flex;
    flex-flow: column nowrap;
    gap: 16px;
}

.main-content ul > li {
    font-size: 24px;
}
