header a[href*="about"] {
    text-decoration: underline;
}

.main-content {
    display: flex;
    flex-flow: column nowrap;
    max-width: 1000px;
    align-self: center;
    justify-content: center;
    gap: 64px;
}

.main-content > div:not(.delimiter) {
    flex: 1;
    display: flex;
    align-items: flex-start;
}

.main-content > div:first-child {
    align-items: flex-end;
}

.main-content ul {
    list-style-type: none;
    display: flex;
    flex-flow: column nowrap;
    gap: 24px;
    font-size: 1.1rem;
}

footer .contact-info {
    opacity: 0;
}

