:root {
    --bg-color: #3D3D3D;
    --main-color: #FAFFFF;
    --text-color: #080808;
}

body {
    margin: 0px;
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    background-color: var(--main-color);
}

.main-content {
    align-self: center;
    max-width: 1200px;
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
    padding: 32px 24px;
}

.main-content > div > div {
    padding: 64px 48px;
    flex: 1;

    opacity: 0;
    position: relative;
    bottom: -24px;
    transition: bottom 1s, opacity 1s, padding 0.3s;
}

.main-content > div > div.in-view {
    bottom: 0px;
    opacity: 1;
}

.header {
    display: flex;
    flex-flow: row nowrap;
    background-color: var(--bg-color);
    padding: 8px 16px;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1;
}

.header .nav-bar {
    width: 300px;
    height: 500px;
    position: absolute;
    background-color: var(--bg-color);
    right: 0;
    top: -500px;
    transition: top 0.4s;
}

.nav-bar .nav-bar-list {
    padding-top: 80px;
    list-style-type: none;
    display: flex;
    flex-flow: column nowrap;
    gap: 80px;
    align-items: center;
}

.header .nav-button {
    display: none;
}

.header .nav-button-label {
    user-select: none;
    color: var(--main-color);
    font-size: 36px;
    background-color: transparent;
    margin: 0px;
    padding: 0px;
    border: 0px;
    z-index: 1;
    transition: transform 0.3s;
    padding: 0px 16px;
}

.header .nav-button-label:hover {
    color: black;
}

.nav-button:checked ~ .nav-bar  {
    top: 0px;
}

.nav-button:checked ~ .nav-button-label {
    transform: rotate(-90deg);
}

.header a{
    font-size: 36px;
    border: 0px;
    background-color: transparent;
    padding: 24px;
    text-decoration: none;
    color: var(--main-color);
}

.header a:visited {
    color: var(--main-color);
}

.header a:hover {
    color: black;
}

.header > .logo {
    font-size: 32px;
}

.footer {
    display: flex;
    flex-flow: row nowrap;
    background-color: var(--bg-color);
    justify-content: space-between;
    padding: 12px;
}

.footer > .logo {
    font-size: 32px;
    margin-top: -44px;
    background-color: var(--bg-color);
    padding: 32px;
    border-radius: 100%;
    color: var(--main-color);
}

.footer > .links {
    flex: 1;
    justify-content: flex-start;
    display: flex;
    flex-flow: row nowrap;
    gap: 48px;
    font-size: 18px;
    padding-left: 48px;
}

.footer  ul {
    margin: 0px;
    list-style-type: none;
    padding: 0px;
}

.footer div,
.footer li {
    color: var(--main-color);
}
