header a[href*="gallery"] {
    text-decoration: underline;
}

.main-content {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.main-content .gallery {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 2rem;
    padding: 64px;
}

.main-content img {
    width: 100%;
    transition: scale 0.4s;
}

.main-content img:hover {
    scale: 1.06;
}