.header > div > a {
    text-decoration-line: underline;
}

.main-content > div {
    flex: 1;
    display: flex;
    flex-flow: row nowrap;
}

.main-content .description {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.main-content .title {
    font-size: 32px;
    padding-bottom: 8px;
    padding-left: 16px;
}

.main-content .text {
    text-align: justify;
    font-size: 24px;
}

.information > .description,
.catalogue > .description,
.about > .description,
.order > .order-action {
    border-right: 1px solid darkgray;
}

.catalogue > .description {
    flex: 2;
}

.about > .description {
    flex: 3;
}

.main-content > .order {
    flex: 2;
}

.order > .order-action{
    border: 0px solid #000;
}

.catalogue > .description {
    border: 0px;
    border-left: 1px solid darkgray;
}

.order-action {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 32px;
}

.order-action .bread-image {
    width: 200px;
    height: 200px;
    background-color: var(--bg-color);
}

.order-action .text {
    font-size: 38px;
}

.catalogue .image {
    padding: 16px;
}

.catalogue img {
    width: 420px;
    height: auto;
    transition: padding 0.3s, scale 0.3s;
}

.image:hover + .description {
    padding-right: 32px;
}

.catalogue img:hover {
    scale: 1.04;
    padding: 8px;
}



