.main-content {
    display: flex;
    flex-flow: column nowrap;
    padding: 1rem;
    max-width: 1300px;
    align-self: center;
}

.main-content > div:not(.delimiter) {
    flex: 1;
    display: flex;
    align-items: center;
}

.main-content > div > div:not(.delimiter) {
    flex: 1;
    padding: 4rem 1.5rem;
}

.main-content .title,
.main-content .text {
    color: var(--text-color);
}

.main-content .text {
    text-align: justify;
}

.main-content .title {
    font-size: 1.2rem;
    margin-bottom: 8px;
    font-weight: bold;
}

.main-content .info .description {
    flex: 2;
}

.main-content .catalogue .description {
    flex: 2;
    transition: padding 0.3s, scale 0.3s;
}

.main-content .about .description {
    flex: 3;
}

.main-content .order {
    align-self: center;
}

.order > div {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 32px;
}

.order .image {
    width: 200px;
    height: 200px;
    background-color: var(--bg-color);
}

.order button {
    border: none;
    background-color: transparent;
    font-size: 1.4rem;
    padding: 0.4rem;
}

.order button:hover {
    background-color: var(--bg-color);
    color: var(--main-color);
}

.main-content .catalogue .image {
    padding: 1rem;
    transition: padding 0.3s, scale 0.3s;
}

.catalogue img {
    width: 400px;
    height: auto;
}

.catalogue .image:hover {
    scale: 1.05;
    padding: 1.3rem;
}

.catalogue .image:hover ~ .description {
    padding-left: 1.7rem;
    padding-right: 0.4rem;
}
