a[href*="order"] {
    text-decoration-line: underline;
}

.main-content > div > div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 21px;
}

.image-display {
    padding: 16px 32px;
    padding-top: 8px;
    padding-bottom: 32px;
    display: flex;
    justify-content: center;
}

.image-display .image {
    padding: 0px;
}

.image {
    height: 400px;
    max-width: 400px;
    overflow: hidden;
}

.image img {
    width: 400px;
    height: 400px;
    transition: scale 0.3s, opacity 1s 1s, right 1s; 
    position: absolute;
    right: 0px;
    top: 0;
}

.image .brown {
    right: -400px;
}

.image .black {
    right: 400px;
}

.image-array {
    height: 100%;
    width: 100%;
    position: relative;
    transition: right 1s;
    right: 0px;
}


.size-buttons,
.color-buttons {
    display: flex;
    flex-flow: row nowrap;
    gap: 16px;
}

.size-buttons .chosen {
    text-decoration-line: underline;
}

.color-buttons .chosen {
    text-decoration-line: underline;
}

.main-content input {
    display: none;
}

.main-content input:checked + label {
    text-decoration-line: underline;
}

.main-content label,
.main-content button {
    text-align: center;
    font-size: 36px;
    border: 0px;
    background-color: var(--main-color);
    color: black;
    padding: 8px 16px;
    border-radius: 4px;
    flex: 1;
} 

.main-content label:hover,
.main-content button:hover {
    background-color: var(--bg-color);
    color: var(--main-color);
}
