a[href*="order"] {
    text-decoration-line: underline;
}

.main-content > div {
    border-bottom: 1px darkgray solid;
}

.main-content > div > div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 21px;
}

.main-content > .order-button {
    border-bottom: 0px;
}

.image-display {
    padding: 16px 32px;
    padding-top: 8px;
    padding-bottom: 32px;
}

.image-display .image {
    padding: 0px;
}

.image {
    height: 400px;
    overflow: hidden;
}

.image img {
    width: 400px;
    height: 400px;
    transition: scale 0.3s, opacity 1s 1s, right 1s; 
    position: absolute;
    right: 0px;
    top: 0;
}

.image .brown {
    right: -400px;
}

.image .black {
    right: 400px;
}

.size-buttons,
.color-buttons {
    display: flex;
    flex-flow: row nowrap;
    gap: 16px;
}

.size-buttons .chosen {
    text-decoration-line: underline;
}

.color-buttons .chosen {
    text-decoration-line: underline;
}

.main-content button {
    font-size: 36px;
    border: 0px;
    background-color: var(--main-color);
    padding: 8px 16px;
    border-radius: 4px;
    flex: 1;
} 

.main-content button:hover {
    background-color: var(--bg-color);
    color: var(--main-color);
}
