header a[href*="order"] {
    text-decoration: underline;
}

.options input[type="radio"] {
    display: none;
}

.main-content {
    display: flex;
    align-self: center;
    align-items: center;
    gap: 64px;
    /* padding: 64px; */
    /* padding-right: 0px; */
    /* padding-left: 128px; */
}

.main-content .options {
    display: flex;
    flex-flow: column nowrap;
    gap: 24px;
    font-size: 1.4rem;
}

.main-content .options div {
    display: flex;
    gap: 24px;
}

.main-content div label {
    flex: 1;
    text-align: center;
    padding: 16px;
}

.main-content div label:hover {
    background-color: var(--bg-color);
    color: var(--main-color);
    cursor: pointer;
}

.main-content div input:checked + label {
    text-decoration: underline;
}

.main-content .options button {
    border: none;
    font-size: 1.4rem;
    padding: 16px;
    background-color: var(--bg-color);
    color: var(--main-color);
}

.main-content .options button:hover {
    background-color: var(--text-color);
    cursor: pointer;
}


.main-content .image-view {
    --image-view-size: 500px;
    
    position: relative;
    width: var(--image-view-size);
    height: var(--image-view-size);
    margin-right: 36px;
    display: flex;
    align-items: center;
}

.main-content .overflow-window {
    position: relative;
    width: var(--image-view-size);
    height: var(--image-view-size);
    overflow: hidden;
}

.main-content .image-line img {
    width: var(--image-view-size);
    height: auto;
}

.main-content .image-line {
    left: 0;
    display: flex;
    position: absolute;
    transition: left 0.8s;
}

.main-content .image-view button {
    border-radius: 100%;
    width: 3rem;
    height: 3rem;
    border: none;
    background-color: var(--bg-color);
    color: var(--main-color);
    font-size: 1.4rem;
    position: absolute;
    z-index: 1;
}

.main-content .image-view button:hover {
    background-color: var(--text-color);
    cursor: pointer;
}

.main-content .image-view .back {
    left: -78px;
}

.main-content .image-view .next {
    right: -78px;
}

.main-content .index {
    position: absolute;
    bottom: -42px;
    z-index: 1;
    display: flex;
    gap: 16px;
    left: 0;
    right: 0;
    justify-content: center;
}

.main-content .index input {
    appearance: none;

    display: inline-block;
    width: 16px; 
    height: 16px;  
    padding: 10px;
    border: 5px solid var(--bg-color);
    border-radius: 50%;
    background-color: var(--main-color);
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    pointer-events: none;
}

.main-content .index input::before {
    display: inline-block;
    content: " ";
    width: 12px;
    height: 12px;
    position: absolute;
    border-radius: 100%;
    border: 1px;
    background-color: var(--bg-color);
    opacity: 0;
    transition: opacity 0.4s;
}

.main-content .index input:checked::before {
    opacity: 1;
}
