.main-content > div > div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.image-display {
    height: 400px;
    padding: 20px;
}

.image img {
    width: 400px;
    height: auto;
    transition: scale 0.3s, opacity 1s, right 1s; 
    opacity: 0;
    height: 400px;
    position: absolute;
    top: 0;
    right: -96px;
}

.image .chosen {
    opacity: 1;
    right: 8px;
}

.size-buttons,
.color-buttons {
    display: flex;
    flex-flow: row nowrap;
    gap: 16px;
}

.size-buttons .chosen {
    background-color: darkgray;
}

.color-buttons .chosen {
    background-color: darkgray;
}

.main-content button {
    font-size: 36px;
    border: 0px;
    background-color: lightgray;
    padding: 8px 16px;
    border-radius: 4px;
    flex: 1;
} 

.main-content button:hover {
    background-color: gray;
    color: white;
}
