body {
    margin: 0px;
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
}

.header {
    display: flex;
    flex-flow: row nowrap;
    background-color: lightgray;
    padding: 8px 16px;
    justify-content: space-between;
    /* gap: 780px; */
    align-items: center;
    position: sticky;
    top: 0;
}

.header > div {
    font-size: 32px;
}

.main-content {
    align-self: center;
    max-width: 1200px;
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
    padding: 32px 24px;
}

.main-content > div {
    flex: 1;
}

.information,
.catalogue,
.about,
.order {
    display: flex;
    flex-flow: row nowrap;
    border-bottom: 1px solid darkgray;
}

.order {
    border-bottom: 0px;
}

.information > div,
.catalogue > div, 
.about > div,
.order > div {
    padding: 64px 48px;
    flex: 1;
}

.information > .description,
.catalogue > .description,
.about > .description,
.order > .order-action {
    border-right: 1px solid darkgray;
}

.catalogue > .description {
    flex: 2;
}

.about > .description {
    flex: 3;
}

.main-content > .order {
    flex: 2;
}

.information > .description,
.catalogue > .description, 
.about > .description {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.information .title,
.catalogue .title,
.about .title {
    font-size: 32px;
    padding-bottom: 8px;
    padding-left: 16px;
}

.information .text,
.catalogue .text,
.about .text {
    text-align: justify;
    font-size: 24px;
}

.order > .order-action{
    border: 0px solid #000;
}

.catalogue > .description {
    border: 0px;
    border-left: 1px solid darkgray;
    transition: padding 0.3s;
}

.order-action {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 32px;
}

.order-action .bread-image {
    width: 100px;
    height: 100px;
}

.order-action .text {
    font-size: 38px;
}

.catalogue .image {
    padding: 16px;
}

.catalogue img {
    width: 420px;
    height: auto;
    /* border-radius: 32px; */
    transition: scale 0.3s;
    transition: padding 0.3s;
}

.catalogue img:hover {
    /* width: 430px; */
    scale: 1.04;
    padding: 8px;
}


.footer {
    display: flex;
    flex-flow: row nowrap;
    background-color: lightgray;
    justify-content: space-between;
    /* gap: 84px; */
    padding: 12px;
}

.footer > .logo {
    font-size: 32px;
    margin-top: -44px;
    background-color: lightgray;
    padding: 32px;
    border-radius: 96px;
}

.footer > .links {
    flex: 1;
    justify-content: flex-start;
    display: flex;
    flex-flow: row nowrap;
    gap: 48px;
    font-size: 18px;
    padding-left: 48px;
    /* padding-right: 48px; */
}

.footer  ul {
    margin: 0px;
    list-style-type: none;
    padding: 0px;
}
